@import 'node_modules/bootstrap/scss/bootstrap';

.header {
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        height: 60px;

        .icon-logo {
            width: 30px;
            height: 30px;

            font-size: 30px;

            margin-right: 5px;
        }

        .text-logo {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .content {
        margin-left: auto;
        margin-right: auto;

        height: 40px;

        .options {
            height: 100%;

            margin-bottom: 10px;

            .option {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                height: 100%;
                width: 100px;

                font-size: 16px;
                text-align: center;
                font-weight: 500;

                border-radius: 5px;

                transition: all .1s ease-in-out;

                &:hover {
                    cursor: pointer;
                    background-color: #504f4f;
                }
            }
        }
    }

    .refresh-button {
        width: 100px;

        margin-right: 10px;
    }
}

article {
    margin-top: 20px;

    .title {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
    }

    .description {
        font-size: 18px;
        font-weight: 400;
        text-align: center;

        margin-bottom: 40px;
    }

    .images-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .image {
        margin-bottom: 20px;
    }

    .dont-appear {
        display: none;
    }
}

